{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block head %}    
<link href="/stylesheets/authentication.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
    {% if message %}
        <div class="error">{{ message }}</div>
    {% endif %}
        <p><b>Create an Account</b></p>
    <form method="POST" action="register">
        <input type="text" placeholder="username" name="username" class="field">
        <input type="password" placeholder="password" name="password" class="field">
        <input type="submit" value="create" class="btn">
    </form>

    <nav>
        <a class="loginButton" href="/login">Log in to existing account</a>
    </nav>

{% endblock %}